.accountPage{
    background-color: #F2FDFF;
}

.center {
    margin-top: 50px;
}

.barContainer {
    width: 400px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto
}

.progress {
    height: 30px !important;
}

#pointNotification {
    font-size: large;
    margin-top: 10px;
}

.totalDonation {
    margin-top: 30px;
    background-color: white;
}

.bear {
    font-size: 35px;
}