.eduPage {
    background-color: #F2FDFF;
}
h3 {
    text-align: center;
}
.info {
    text-align: justify;
    padding: 50px 50px;
}

.action {
    text-align: justify;
    padding: 50px 50px;
    background-color: white;
}

.impact {
    width: 60%;
    height: 40%;
    border: solid 1px #555;
    background-color: #F1D047;
    box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
    -moz-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
    -o-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
    border-radius:25px;
    text-align: justify;
    padding: 50px 35px;
    margin: auto;
}

.quiz-button {    
    background-color: #ABEBFF;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
    border: white;
}

.intro {
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    padding-top: 8em;
}

#animal{
    display: inline-block;
    margin-right: auto;
    width: 50%;
}

.content{
    display: inline-block;
    margin-left: auto;
    width: 50%;
    padding-left: 10%;
}

/* ----------- iPhone 12, 12 Pro ----------- */
 
/* 2532x1170 pixels at 460ppi */ 
@media only screen 
and (max-device-width: 420px) 
and (max-device-height: 950px) {
    h3,h4 p {
        text-align: center;
    }
    .info {
        text-align: center;
        padding: 50px 50px;
    }
    
    .action {
        display: block;
        text-align: center;
        background-color: white;
    }

    #animal {
        display: block;
        width: auto;
        max-width: 90%;
        height: auto;
        padding-left: 15%;
    }

    #green {
        display: block;
    }

    .animalHeader {
        margin-top: 25px;
    }

    .content {
        text-align: left;
        width: fit-content;
    }

    .impact {
        border: none;
        box-shadow: none;
        background-color: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        -o-box-shadow: none;
        border-radius:0;
        text-align: justify;
        width: fit-content;
        padding: 30px 55px;
    }
}
