<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap" rel="stylesheet">

body {
  background-color: #e4e4e4;
  position: relative;
  min-height: 90%;
}

div {
  box-sizing: border-box;
}

.quiz {
  width: 975px;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 18%;
}

.question {
  background-color: #39CAF8;
  color: white;
  padding: 10px;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border-radius: 10px;
}

.results {
  background-color: #fff;
  height: 300px;
  text-align: center;
}

.congratulations {
  background-color: #39CAF8;
  border-radius: 10px;
  padding: 20px;
  font-size: 36px;
  color: #fff;
}

.results-info {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 18px;
}

.answer {
  width: 48%;
  background: #fff;
  border: 2px solid #39CAF8;
  border-radius: 10px;
  min-height: 70px;
  cursor: pointer;
  margin-bottom: 30px;
  display: flex;
}

.answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.answer-letter {
  font-size: 30px;
  background-color: #39CAF8;
  color: #fff;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer-text {
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.correct-answer {
  border: 2px solid #2ac26e;
}

.correct-answer .answer-letter {
  background: #2ac26e;
}

.wrong-answer {
  border: 2px solid #dc0a0a;
}

.wrong-answer .answer-letter {
  background: #dc0a0a;
}

.next-button {
  margin: 0 auto;
  color: #fff;
  background: #39CAF8;
  width: 300px;
  font-size: 18px;
  font-weight: 600;
  padding: 14px 75px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}

.progress-button {
  margin: 0 auto;
  color: #fff;
  background: #39CAF8;
  width: 300px;
  font-size: 18px;
  font-weight: 600;
  padding: 14px 75px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}

.score {
  color: 000;
  font-size: 18px;
  width: 200px;
  margin: 0 auto;
  font-weight: 600;
  height: 40px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quizTitle {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    margin: 0 auto;
    font-weight: 1000;
    height: 40px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disabled-answer {
  pointer-events: none;
}

.footer p{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}